html,
.container-fluid {
  font: 16pt arial;
  height: 100%;
}

#cy-cise {
  width: 100%;
  height: 100vh;
  /* border: 1px solid lightgray; */
  font: 22pt arial;
}

h5 {
  font-family: 'Georgia', serif;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  max-height: 200px;
  transition: all 0.3s;
}