/*
    Side NavBar
*/

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  font-family: 'Poppins', sans-serif;
  background: #fafafa;
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}

.aHeader,
.aHeader:hover,
.aHeader:focus {
  color: inherit;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar {
  padding: 15px 10px;
  background: #fff;
  border: none;
  border-radius: 0;
  margin-bottom: 15px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}


/*
    My CSS
*/

.check {
  margin-top: 4px;
  font-size: 13px;
  height: 0px !important;
}

.txtOnly {
  font-size: 13px;
  height: 20px;
}

.menu-description {
  color: inherit !important;
  line-height: 1.3;
  text-align: justify;
  font-size: 12px;
  padding: 4px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.txtMoreInfo {
  font-size: 12px;
  text-align: center;
}

.picker {
  zoom: 0.1;
  width: 105px;
  height: 25px;
  font-size: 10px;
}

.liStyle {
  background-color: #75a9f9;
  color: black;
  font-size: 15px;
}

.btnHead {
  width: 70px;
  font-size: 11px;
  margin-left: 20px;
}

.ulContent {
  background-color: white;
  color: black;
}

.inputSlider {
  width: 60px;
  height: 20px;
  margin-left: 5px;
}

.inputShortestPathSideMenu {
  width: 206px;
  height: 30px;
  font-size: 13px;
}

.inputSearchCountry {
  width: 140px;
  height: 30px;
  display: inline;
  margin-left: 15px;
  font-size: 15px;
}

.mainSearchBar {
  font-size: 17px;
  width: 500px;
}

.btnApplyFilters:hover {
  background-color: rgb(45, 248, 42);
}

.btnBackFilters:hover {
  background-color: rgb(30, 162, 219);
}

.btnResetFilters:hover {
  background-color: red;
}

.graphSizeConfig {
  margin-left: 40px;
  font-size: 15px;
}

.fit-picture {
  width: 200px;
  height: 200px;
}


/* ---------------------------------------------------
    SLIDER STYLE
----------------------------------------------------- */

.slidecontainer {
  width: 100%;
  /* Width of the outside container */
  display: inline;
}


/* The slider itself */

.slider {
  -webkit-appearance: none;
  /* Override default CSS styles */
  appearance: none;
  width: 120px;
  /* Full-width */
  height: 10px;
  /* Specified height */
  background: #d3d3d3;
  /* Grey background */
  outline: none;
  /* Remove outline */
  opacity: 0.7;
  /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s;
  /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  border-radius: 20px;
  margin-left: 5px;
}


/* Mouse-over effects */

.slider:hover {
  opacity: 1;
  /* Fully shown on mouse-over */
}


/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* Override default look */
  appearance: none;
  width: 10px;
  /* Set a specific slider handle width */
  height: 10px;
  /* Slider handle height */
  background: rgb(11, 107, 211);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
}

.slider::-moz-range-thumb {
  width: 15px;
  /* Set a specific slider handle width */
  height: 15px;
  /* Slider handle height */
  background: rgb(11, 107, 211);
  /* Green background */
  cursor: pointer;
  /* Cursor on hover */
  border-radius: 20px;
}


/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
  perspective: 1500px;
  max-height: 100%;
}

#sidebar {
  min-width: 260px;
  max-width: 260px;
  background: white;
  color: black;
  transition: all 0.6s cubic-bezier(0.945, 0.020, 0.270, 0.665);
  transform-origin: bottom left;
}

#sidebar.active {
  margin-left: -250px;
  transform: rotateY(100deg);
}

#sidebar .sidebar-header {
  font-family: 'Poppins', sans-serif;
  padding: 2px;
  background: rgb(11, 101, 211);
  color: white !important;
  text-align: center;
}

#sidebar ul p {
  color: #fff;
  padding: 10px;
}

#sidebar ul li .aHeader {
  padding: 5px;
  font-size: 1.1em;
  display: block;
}

#sidebar ul li .aHeader:hover {
  color: #7386D5;
  background: #fff;
}

#sidebar ul li.active>.aHeader,
.aHeader[aria-expanded="true"] {
  color: #fff;
  background: #001877;
}

#sidebarCollapse {
  width: 40px;
  height: 40px;
  background: #f5f5f5;
  cursor: pointer;
}

#sidebarCollapse span {
  width: 80%;
  height: 2px;
  margin: 0 auto;
  display: block;
  background: #555;
  transition: all 0.8s cubic-bezier(0.810, -0.330, 0.345, 1.375);
  transition-delay: 0.2s;
}

#sidebarCollapse span:first-of-type {
  transform: rotate(45deg) translate(2px, 2px);
}

#sidebarCollapse span:nth-of-type(2) {
  opacity: 0;
}

#sidebarCollapse span:last-of-type {
  transform: rotate(-45deg) translate(1px, -1px);
}

#sidebarCollapse.active span {
  transform: none;
  opacity: 1;
  margin: 5px auto;
}

.aHeader[data-toggle="collapse"] {
  position: relative;
}

ul ul .aHeader {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs .aHeader {
  text-align: center;
  font-size: 0.9em !important;
  display: block;
  border-radius: 5px;
  margin-bottom: 5px;
}

a.download {
  background: #fff;
  color: #7386D5;
}

a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

.searchInput {
  width: 220px;
  margin: auto;
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
    margin-left: -250px;
    transform: rotateY(90deg);
  }
  #sidebar.active {
    margin-left: 0;
    transform: none;
  }
  #sidebarCollapse span:first-of-type,
  #sidebarCollapse span:nth-of-type(2),
  #sidebarCollapse span:last-of-type {
    transform: none;
    opacity: 1;
    margin: 5px auto;
  }
  #sidebarCollapse.active span {
    margin: 0 auto;
  }
  #sidebarCollapse.active span:first-of-type {
    transform: rotate(45deg) translate(2px, 2px);
  }
  #sidebarCollapse.active span:nth-of-type(2) {
    opacity: 0;
  }
  #sidebarCollapse.active span:last-of-type {
    transform: rotate(-45deg) translate(1px, -1px);
  }
}


/* ---------------------------------------------------
    LIMITS NAVBAR STYLE
----------------------------------------------------- */

.btnApplyLimits {
  font-size: 16px;
  background-color: #75a9f9;
}