html,
.container-fluid {
  font: 16pt arial;
  height: 100%;
}

#cy-cise {
  width: 100%;
  height: 100vh;
  /* border: 1px solid lightgray; */
  font: 22pt arial;
  /* z-index: 99999; */
}

h5 {
  font-family: 'Georgia', serif;
}

.description-title {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 25px;
  font-weight: 300;
  line-height: 1.4;
  color: #000;
  margin: 20px;
}

.descrption-text {
  text-align: justify;
  font-family: 'Poppins', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4;
  color: #000;
  margin: 30px;
}

.descrption-middle-text {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  line-height: 1.4;
  color: #000;
  margin: 20px;
}


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  min-height: 100vh;
  max-height: 200px;
  transition: all 0.3s;
}

#open-side-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999;
}

#close-side-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999999;
}